.card-testimonial .card-quote {
  position: relative;
}

.card-testimonial .card-quote::before {
  content: "\201C"; /* Set the content to the value “ */
  position: absolute;
  top: -4.5rem;
  left: -1rem;
  color: #efeded;
  font-size: 10rem;
  z-index: -1;
}
